<div class="d-flex align-items-center bd-highlight mb-3" style="height: 100%">
  <div class="container">
    <h1>Web Page to HTML Converter</h1>
    <p>This app will scrape a url and return the page's HTML source, but without the HTML presentation attributes.</p>
    <form action="/result" method="POST" class="mt-5">
      <div class="form-group">
        <label for="url">Enter URL to convert:</label>
        <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL to convert" autofocus />
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>