<div class="container">
  <h1>Hello</h1>
  <form action="/result" method="POST">
    <div class="form-group">
      <label for="url">Enter URL to convert</label>
      <input type="url" class="form-control" id="url" name="url" placeholder="Enter URL to convert" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>